/* div{
    height: 200px;
    width: 200px;
    background-color:green;
    transition: 2s;
    margin: 0 auto;
    box-shadow: 3px 3px 8px black, -3px -3px 8px black;
    
}

div:hover{
    background-color: black;
    transition: 2s;
    border-radius: 50%;
    transform: rotate(45deg);
    scale: 0.5;
    transform: translate(100px, 100px);
    transform: skew(45deg);
    
} */

div{
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url(https://plus.unsplash.com/premium_photo-1701104011406-b8352e13833e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}